body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bg-color: #e6f2ff;
  --text-color: #000;
  --column-bg: white;
  --task-bg: white;
  --task-text-color: #000;
}

[data-theme='dark'] {
  --bg-color: #1e1e2f;
  --text-color: #ffffff;
  --column-bg: #2e2e3e;
  --task-bg: #3c3c4d;
  --task-text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
}


